@import "bootstrap.less";
@import "adaptive.less";
@import "topbar.less";
@import "secondbar.less";
@import "comments.less";
@import "headings.less";

#content {
    margin-bottom: 1em;
}

ul.features {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.features li {
    margin: 0 0 1em 0;
    padding: 0 0 0 30px;
    background-repeat: no-repeat;
    background-position: 0 4px;
}

ul.features li.scalability {
    background-image: url(../img/feature_icons/scalability.png);
}
ul.features li.deployment {
    background-image: url(../img/feature_icons/deploy.png);
}
ul.features li.multi_platform {
    background-image: url(../img/feature_icons/multi_platform.png);
}
ul.features li.your_data {
    background-image: url(../img/feature_icons/your_data.png);
}
ul.features li.distribute {
    background-image: url(../img/feature_icons/distribute.png);
}
ul.features li.lockin {
    background-image: url(../img/feature_icons/lockin.png);
}
ul.features li.homogeneity {
    background-image: url(../img/feature_icons/homogeneity.png);
}
ul.features li.one_language {
    background-image: url(../img/feature_icons/one_language.png);
}

ul.features li.flexibility {
    background-image: url(../img/feature_icons/flexibility.png);
}
ul.features li.real_time {
    background-image: url(../img/feature_icons/real_time.png);
}

.screenshot img {
    margin-top: 28px;
}

.avatar {
    width: 128px;
    height: 128px;
    background-color: #eee;
}

#create_account_form label {
    margin-right: 1em;
    width: 100px;
    text-align: left;
}
#create_account_form .hint {
    font-size: 11px;
    color: #666;
    //margin-left: 57px;
    padding: 0.5em 0;
    float: right;
    margin-top: -1.4em;
    width: 170px;
}
#create_account_form .error .hint {
    display: none;
}

#create_account_form .errors ul,
#create_account_form .errors ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: red;
}
#create_account_form .errors {
    float: right;
    width: 170px;
    margin-top: -2.1em;
    color: red;
    font-size: 11px;
}

#create_account_form .field {
    margin-bottom: 0.75em;
}

#create_account_form .actions {
    margin-top: 2em;
    text-align: right;
}

.avatar p {
    font-size: 11px;
    color: #999;
    text-align: center;
    padding: 30px 10px 10px 10px;
}

#create_account_form .username-available {
    color: green;
}
#create_account_form .username-taken,
#create_account_form .error {
    color: red;
}
