@import "bootstrap.less";
@import "adaptive.less";
@import "topbar.less";
@import "secondbar.less";
@import "comments.less";
@import "headings.less";

#content {
    margin-bottom: 1em;
}

ul.features {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.features li {
    margin: 0 0 1em 0;
    padding: 0 0 0 30px;
    background-repeat: no-repeat;
    background-position: 0 4px;
}

ul.features li.scalability {
    background-image: url(../img/feature_icons/scalability.png);
}
ul.features li.deployment {
    background-image: url(../img/feature_icons/deploy.png);
}
ul.features li.multi_platform {
    background-image: url(../img/feature_icons/multi_platform.png);
}
ul.features li.your_data {
    background-image: url(../img/feature_icons/your_data.png);
}
ul.features li.distribute {
    background-image: url(../img/feature_icons/distribute.png);
}
ul.features li.lockin {
    background-image: url(../img/feature_icons/lockin.png);
}
ul.features li.homogeneity {
    background-image: url(../img/feature_icons/homogeneity.png);
}
ul.features li.one_language {
    background-image: url(../img/feature_icons/one_language.png);
}
