<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span10">
        <h1>Kanso</h1>
        <p>
          Simple, distributable JavaScript apps using CouchDB
        </p>
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">
        <img src="{{baseURL}}/static/img/banner.png" />
        <h2>Comprehensive build tool</h2>
        <p>
          Kanso is a set of tools and packages for creating JavaScript apps
          that run directly on <a href="http://couchdb.org">CouchDB</a>. Your app
          and related code can be easily packaged and shared with the community,
          or deployed to a number of cloud-hosted services.
        </p>
        <p>
          The command-line tool is used for building and deploying
          these applications, as well as providing some useful utilities for working
          with CouchDB and JSON data.
        </p>
        <h2>Why develop apps with Kanso?</h2>
        <div class="row">
          <div class="span6">
            <ul class="features">
              <li class="scalability"><strong>Scalability:</strong> easily grow from hobby-project to high-demand app with CouchDB</li>
              <li class="deployment"><strong>Deployment:</strong> effortless to deploy, to the cloud or local machines, promoting quick iterations</li>
              <li class="multi_platform"><strong>Multi-platform:</strong> runs anywhere with CouchDB (Windows, OSX, Linux, Android and iOS)</li>
              <li class="real_time"><strong>Real-time:</strong> add live updates to your app using the built-in changes feed</li>
              <li class="your_data"><strong>Keep your data yours:</strong> now you can keep sensitive data in-house, and avoid sharing it with cloud services</li>
            </ul>
          </div>
          <div class="span6">
            <ul class="features">
              <li class="distribute"><strong>Easy to distribute:</strong> apps are easy to share and distribute, between people and servers</li>
              <li class="lockin"><strong>Avoid lock-in:</strong> easy to deploy and based on open-source, don't be held hostage to a proprietary API</li>
              <li class="homogeneity"><strong>Homogeneity:</strong> your development environment matches your production environment</li>
              <li class="flexibility"><strong>Flexibility:</strong> loosely coupled components make it easy to extend and customize</li>
              <li class="one_language"><strong>One language to rule them all:</strong> with just CouchDB and the browser, all you need to speak is JavaScript!</li>
            </ul>
          </div>
        </div>

        <h2>Get started</h2>
        <p>
          Fetch the code from GitHub and install:
        </p>
<pre>git clone https://github.com/caolan/kanso.git
cd kanso
make &amp;&amp; sudo make install</pre>
        <p>
          Learn more: <a href="http://kan.so/docs/Simplest_possible_app">Simplest possible app</a>
        </p>

        <h2>Developer community</h2>
        <p>
          Kanso is an open-source project written by developers using CouchApps 
          everyday, in real-world projects. Kanso provides the tools to share code
          and resources, regardless of the way in which your app is built. It's
          easy to use coffee-script, less stylesheets, or any number of JavaScript
          frameworks in your app, and still benefit from the wealth of packages
          provided by the community.
        </p>
        <p>
          Find other Kanso developers in #kansojs on FreeNode, or on the
          <a href="http://groups.google.com/group/kanso">mailing list</a>.
        </p>
        <p>
          Watch Kanso on <a href="http://github.com/caolan/kanso">GitHub</a>.
        </p>
      </div>

      <div id="sidebar" class="span4">
        <h4>Get started</h4>
        <ul>
          <li><a href="#">Install Kanso tools</a></li>
          <li><a href="#">Get started creating apps</a></li>
          <li><a href="#">Share code with the community</a></li>
          <li><a href="{{baseURL}}/packages">Browse the package repository</a></li>
          <li><a href="http://github.com/caolan/kanso">Watch the project on GitHub</a></li>
        </ul>

        <h4>Learn more</h4>
        <ul>
          <li><a href="http://groups.google.com/group/kanso">Ask the mailing list</a></li>
          <li><a href="http://twitter.com/caolan">Follow @caolan on Twitter</a></li>
          <li>#kansojs on FreeNode</li>
        </ul>
      </div>

    </div>
  </div>
</div>
