<div id="secondbar" class="homepage">
  <div class="container">
    <div class="row homepage_heading">
      <div class="starburst_container">
        <div class="starburst">
          <div class="triangle tri1"></div>
          <div class="triangle tri2"></div>
          <div class="triangle tri3"></div>
          <div class="triangle tri4"></div>
          <div class="triangle tri5"></div>
          <div class="triangle tri6"></div>
          <div class="triangle tri7"></div>
          <div class="triangle tri8"></div>
          <div class="triangle tri9"></div>
          <div class="triangle tri10"></div>
          <div class="triangle tri11"></div>
          <div class="triangle tri12"></div>
          <div class="triangle tri13"></div>
        </div>
      </div>
      <div class="span10">
        <h1>
          <span>Kanso is the best way to create</span>
          <span>and share apps on CouchDB.</span>
        </h1>
        <a href="{{baseURL}}/install" class="btn primary">Get started with Kanso</a>
      </div>
      <div class="span6">
      </div>
      <div class="screenshots">
        <img class="screen1" src="{{baseURL}}/static/img/screen1.png" alt="Kanso screenshot" />
        <img class="screen2" src="{{baseURL}}/static/img/screen2.png" alt="Kanso screenshot" />
      </div>
    </div>
  </div>
  <div id="sbshadow"></div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">
        <h2>Why develop apps with Kanso?</h2>
        <div class="row">
          <div class="span6">
            <ul class="features">
              <li class="offline"><strong>Offline capability:</strong> when the cloud's not there, your app will be</li>
              <li class="multi_platform"><strong>Multi-platform:</strong> runs anywhere with CouchDB (Windows, OSX, Linux, Android and iOS)</li>
              <li class="deployment"><strong>Deployment:</strong> effortless to deploy, to the cloud or local machines, promoting quick iterations</li>
              <li class="your_data"><strong>Keep your data yours:</strong> now you can keep sensitive data in-house, and avoid sharing it with cloud services</li>
            </ul>
          </div>
          <div class="span6">
            <ul class="features">
              <li class="realtime"><strong>Real-time:</strong> add live updates using the CouchDB changes feed</li>
              <li class="scalability"><strong>Scalability:</strong> easily grow from hobby-project to high-demand app with CouchDB</li>
              <li class="distribute"><strong>Easy to distribute:</strong> apps are easy to share and distribute, between people and servers</li>
              <li class="one_language"><strong>One language to rule them all:</strong> with just CouchDB and the browser, all you need to speak is JavaScript!</li>
            </ul>
          </div>
        </div>

        <h2>Browse the package repository</h2>
        <p>
          Kanso can be described as the <strong>NPM for CouchApps</strong>,
          with tools for installing and publishing shared packages while managing
          dependencies. The Kanso community provides reusable build-tools, modules,
          templates and more via the online repository. Kanso's built around a
          powerful packaging system, meaning almost all the functionality can be
          customized by you.
        </p>
        <p>
          <a rel="external" href="/packages">Explore available packages</a>
        </p>

        <!--
        <h2>Get started</h2>
        <p>
          Fetch the code from GitHub and install:
        </p>
<pre>git clone https://github.com/kanso/kanso.git
cd kanso
make &amp;&amp; sudo make install</pre>
        <p>
          Learn more: <a rel="external" href="http://kan.so/docs/Simplest_possible_app">Simplest possible app</a>
        </p>
        -->

        <h2>Developer community</h2>
        <p>
          Kanso is an open-source project written by developers using CouchApps 
          everyday, in real-world projects. Kanso provides the tools to share code
          and resources, regardless of the way in which your app is built. It's
          easy to use coffee-script, less stylesheets, or any number of JavaScript
          frameworks in your app, and still benefit from the wealth of packages
          provided by the community.
        </p>
        <p>
          Find other Kanso developers in #kansojs on FreeNode, or on the
          <a href="http://groups.google.com/group/kanso">mailing list</a>.
        </p>
        <p>
          Watch Kanso on <a href="http://github.com/kanso/kanso">GitHub</a>.
        </p>
      </div>

      <div id="sidebar" class="span4">
        <h4>Get started</h4>
        <ul>
          <li><a rel="external" href="{{baseURL}}/install">Install Kanso tools</a></li>
          <li><a rel="external" href="http://kan.so/docs/">Get started creating apps</a></li>
          <li><a rel="external" href="http://kan.so/docs/Publishing_Packages">Share code with the community</a></li>
          <li><a rel="external" href="{{baseURL}}/packages">Browse the package repository</a></li>
          <li><a rel="external" href="http://github.com/kanso/kanso">Watch the project on GitHub</a></li>
        </ul>

        <h4>Learn more</h4>
        <ul>
          <li><a href="http://groups.google.com/group/kanso">Ask the mailing list</a></li>
          <li><a href="http://twitter.com/caolan">Follow @caolan on Twitter</a></li>
          <li>#kansojs on FreeNode</li>
        </ul>
      </div>

    </div>
  </div>
</div>
