<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span10">
        <h1>Installation</h1>
        <p>
          Instructions on getting up and running with Kanso's command-line
        </p>
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">


        <ol class="steps">
          <li>
            <h2>CouchDB</h2>
            <div class="row">
              <div class="span3 screenshot">
                <a href="http://couchdb.org">
                  <img src="{{baseURL}}/static/img/couchdb-logo.png" alt="CouchDB Logo" />
                </a>
              </div>
              <div class="span8">
                <div class="instructions">
                  <p>
                    Since Kanso apps run on CouchDB, you'll need to have CouchDB installed.
                    It is <strong>strongly recommended</strong> you have at least CouchDB
                    v1.1. There were significant improvements introduced in that release
                    for Kanso apps, and many packages will not even work on earlier versions.
                  </p>
                  <p>
                    Get CouchDB at <a href="http://couchdb.org">couchdb.org</a>
                  </p>
                  <p>
                    <strong>Note:</strong> Couchbase Single Server 1.1 is
                    <strong>not</strong> based on Apache CouchDB v1.1.
                  </p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <h2>Node.js</h2>
            <div class="row">
              <div class="span3 screenshot">
                <a href="http://nodejs.org">
                  <img src="{{baseURL}}/static/img/nodejs-logo.png" alt="Node.js Logo" />
                </a>
              </div>
              <div class="span8">
                <div class="instructions">
                  <p>
                    Officially, Kanso supports the latest <em>stable</em> version of node.js.
                    However, the v0.6.x releases have a
                    <a href="https://github.com/joyent/node/issues/2257">bug</a> preventing 
                    Kanso exiting after some commands. Until this issue is fixed it's
                    recommended you use the v0.4.x series.
                  </p>
                  <p>
                    Get Node.js at <a href="http://nodejs.org">nodejs.org</a>
                  </p>
                  <h4>Why does Kanso need node.js?</h4>
                  <p>
                    Node.js is used for the command-line tools only. With Kanso, the end
                    result is a pure <a href="http://couchapp.org">CouchApp</a> you can host
                    using CouchDB alone. Using node to write the associated tools allows us
                    to do some powerful things by interpreting the JavaScript of your
                    application.
                  </p>
                </div>
              </div>
            </div>
          </li>

          <li>
            <h2>Kanso command-line</h2>
            <div class="row">
              <div class="span3 screenshot">
                <img src="{{baseURL}}/static/img/kanso-logo.png" alt="Kanso Logo" />
              </div>
              <div class="span8">
                <div class="instructions">
                  <p>
                    First, clone the Kanso repository from GitHub:
                  </p>
                    <pre>git clone git://github.com/kanso/kanso.git
cd kanso</pre>
                  <p>
                    Then, you can fetch it's dependencies and install by doing:
                  </p>
                  <pre>make &amp;&amp; sudo make install</pre>
                </div>
              </div>
            </div>
          </li>

          <li>
            <h2>Get started</h2>
            <div class="row">
              <div class="span5">
                <a class="btn" href="#">
                  <img width="200" src="{{baseURL}}/static/img/backbone.png" alt="Backbone.js" />
                </a>
              </div>
              <div class="span5">
                <a class="btn" href="#">Get started "Framework-Free"</a>
              </div>
            </div>
          </li>

        </ol>

      </div>

      <div id="sidebar" class="span4">
        <h4>Get started</h4>
        <ul>
          <li><a rel="external" href="{{baseURL}}/tools">Install Kanso tools</a></li>
          <li><a rel="external" href="http://kan.so/docs/">Get started creating apps</a></li>
          <li><a rel="external" href="http://kan.so/docs/Publishing_Packages">Share code with the community</a></li>
          <li><a rel="external" href="{{baseURL}}/packages">Browse the package repository</a></li>
          <li><a rel="external" href="http://github.com/kanso/kanso">Watch the project on GitHub</a></li>
        </ul>

        <h4>Learn more</h4>
        <ul>
          <li><a href="http://groups.google.com/group/kanso">Ask the mailing list</a></li>
          <li><a href="http://twitter.com/caolan">Follow @caolan on Twitter</a></li>
          <li>#kansojs on FreeNode</li>
        </ul>
      </div>

    </div>
  </div>
</div>
