<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span10">
        <h1>Installation</h1>
        <p>
          Instructions on getting up and running with Kanso's command-line
        </p>
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12">


        <ol class="steps">
          <li class="step">
            <h2><span>Step 1.</span> Install CouchDB</h2>
            <div class="row">
              <div class="span3 screenshot">
                <a href="http://couchdb.org">
                  <img src="{{baseURL}}/static/img/couchdb-logo.png" alt="CouchDB Logo" />
                </a>
              </div>
              <div class="span8">
                <div class="instructions">
                  <h4>Installing on Mac OSX</h4>
                  <p>
                    <strong>Warning:</strong> Some people have found the Homebrew install to have broken regular
                    expressions, use
                    <a href="https://github.com/iriscouch/build-couchdb">build-couchdb</a>
                    if you have problems.
                  </p>
                  <pre>brew install couchdb</pre>

                  <h4>Installing on Ubuntu</h4>
                  <p>
                    <strong>Warning:</strong> The version of CouchDB available in
                    the Ubuntu repositories is now quite old. If possible, try
                    installing from source using
                    <a href="https://github.com/iriscouch/build-couchdb">build-couchdb</a>
                    or the
                    <a href="http://wiki.apache.org/couchdb/Installing_on_Ubuntu">instructions</a>
                    on the CouchDB wiki.
                  </p>
                  <pre>sudo apt-get install couchdb</pre>

                  <h4>Windows Installer</h4>
                  <p>
                    <strong>Note:</strong> Kanso is not yet officially supported on
                    Windows, though some people have had success getting it to run
                    with Cygwin. See the <a rel="external" href="http://kan.so/docs/Installing_on_Windows">Installing on Windows</a> wiki page.
                  </p>
                  <ul>
                    <li><a href="https://github.com/downloads/dch/couchdb/setup-couchdb-1.1.1_js185_otp_R14B03+fix-win32-crypto.exe">CouchDB 1.1.1 Installer</a></li>
                    <li><a href="https://github.com/dch/couchdb/downloads">More download options</a></li>
                  </ul>

                  <h4>Compile from source</h4>
                  <p>
                    For help compiling on your system, see the <a href="http://wiki.apache.org/couchdb/Installation">CouchDB Wiki</a>.
                  </p>
                  <ul>
                    <li><a href="https://github.com/iriscouch/build-couchdb">Easy build script</a></li>
                    <li><a href="http://couchdb.apache.org/downloads.html">Offical download</a></li>
                  </ul>

                </div>
              </div>
            </div>
          </li>

          <li class="step">
            <h2><span>Step 2.</span> Install Node.js</h2>
            <div class="row">
              <div class="span3 screenshot">
                <a href="http://nodejs.org">
                  <img src="{{baseURL}}/static/img/nodejs-logo.png" alt="Node.js Logo" />
                </a>
              </div>
              <div class="span8">
                <div class="instructions">
                  <p>
                    Officially, Kanso supports the latest <em>stable</em> version of node.js.
                    However, the early v0.6.x releases have a
                    <a href="https://github.com/joyent/node/issues/2257">bug</a> preventing 
                    Kanso exiting after some commands. For this reason it's
                    recommended you use <strong>v0.6.6 or later</strong> or
                    the v0.4.x series.
                  </p>
                  <h4>Why does Kanso need node.js?</h4>
                  <p>
                    Node.js is used for the command-line tools only. With Kanso, the end
                    result is a <a href="http://couchapp.org">pure CouchApp</a> you can host
                    using CouchDB alone. Using node to write the associated tools allows us
                    to do some powerful things by interpreting the JavaScript of your
                    application.
                  </p>
                  <p>
                    <a class="btn" href="http://nodejs.org">Get Node.js</a>
                  </p>
                </div>
              </div>
            </div>
          </li>

          <li class="step">
            <h2><span>Step 3.</span> Install Kanso command-line</h2>
            <div class="row">
              <div class="span3 screenshot">
                <img src="{{baseURL}}/static/img/kanso-logo.png" alt="Kanso Logo" />
              </div>
              <div class="span8">
                <div class="instructions">
                  <p>
                    First, clone the Kanso repository from GitHub:
                  </p>
                    <pre>git clone git://github.com/kanso/kanso.git
cd kanso</pre>
                  <p>
                    Then, you can fetch it's dependencies and install by doing:
                  </p>
                  <pre>make &amp;&amp; sudo make install</pre>
                  <h4>Windows</h4>
                  <p>
                    If you're on windows you'll have to use Kanso with cygwin until Windows is officially supported.
                    See the <a rel="external" href="http://kan.so/docs/Installing_on_Windows">Installing on Windows</a> wiki page for more information.
                  </p>
                </div>
              </div>
            </div>
          </li>

          <!--
          <li class="step">
            <h2><span>Step 4.</span> Get started</h2>
            <div class="row">
              <div class="span5">
                <a class="btn" href="#">
                  <img width="200" src="{{baseURL}}/static/img/backbone.png" alt="Backbone.js" />
                </a>
              </div>
              <div class="span5">
                <a class="btn" href="#">Get started "Framework-Free"</a>
              </div>
            </div>
          </li>
          -->

        </ol>

        <p>Next: <a rel="external" href="http://kan.so/docs/Simplest_possible_app">Simplest possible app</a></p>

      </div>

      <div id="sidebar" class="span4">
        <h4>Get started</h4>
        <ul>
          <li><a rel="external" href="{{baseURL}}/tools">Install Kanso tools</a></li>
          <li><a rel="external" href="http://kan.so/docs/">Get started creating apps</a></li>
          <li><a rel="external" href="http://kan.so/docs/Publishing_Packages">Share code with the community</a></li>
          <li><a rel="external" href="{{baseURL}}/packages">Browse the package repository</a></li>
          <li><a rel="external" href="http://github.com/kanso/kanso">Watch the project on GitHub</a></li>
        </ul>

        <h4>Learn more</h4>
        <ul>
          <li><a href="http://groups.google.com/group/kanso">Ask the mailing list</a></li>
          <li><a href="http://twitter.com/caolan">Follow @caolan on Twitter</a></li>
          <li>#kansojs on FreeNode</li>
        </ul>
      </div>

    </div>
  </div>
</div>
